body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgba(252,248,234,1) 0%, rgba(255,255,255,1) 100%);
}

.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}